extends ../_layout

block content
    div.container
        div 
            h3 Title: #{model.title}
            h5 User: #{ model.creator.name}
            h5 Description: #{model.description}
            h5 Location: #{model.location}
            if model.isPublic
                h5 Type: Public
            else 
                h5 Type: Private
            h5 Event starts at #{model.startTime}
            h5 Event created on: #{model.createdAt}